body {
  display: flex;
  justify-content: center;
}
body::-webkit-scrollbar {
  display: none;
}
form {
  padding-bottom: 3rem;
  width: 80%;
  max-width: 1000px;
  margin: 3rem 0;
}
#form-selector {
  background-color: var(--white);
  padding: 0.6rem 1.2rem;
  font-size: 1.15rem;
  border-radius: 0.6rem;
  border: 0.1rem solid #00000015;
  box-shadow: 0 0.36rem 0.36rem 0 #00000025;
  margin-bottom: 1.2rem;
  cursor: pointer;
}
#form-selector:focus {
  outline: none;
}
.tab-content {
  overflow-y: auto;
}
.change-pic,
.personal-info,
.address,
.change-pass,
.contact-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  background-color: var(--white);
  border: 0.1rem solid #00000015;
  box-shadow: 0 0.36rem 0.36rem 0 #00000025;
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;

  margin-bottom: 1.2rem;
}
.personal-info,
.address,
.change-pass,
.contact-group {
  display: block;
  padding: 1.2rem 2.4rem;
}
.patient-name,
.contact,
.address-1,
.address-2,
.change-pass .group,
.pass-fields {
  display: flex;
  gap: 2.5%;
  margin-top: 0.6rem;
}
.lastname,
.firstname {
  width: 35%;
}
.middleinit {
  width: 25%;
}
.change-pass .group {
  width: 32%;
}
.contact .group {
  width: 50%;
}
.group.gender label {
  display: flex;
  gap: 0.5rem;
  font-size: 1.15rem;
}
.options {
  display: flex;
  padding: 0.6rem 1.2rem;
}
.options label {
  width: 50%;
}
.group.gender label input {
  width: fit-content;
}
.group label:not(.forRadio) {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}
.personal-info input,
.address input,
.change-pass input,
.contact-group input,
select {
  background-color: var(--light-blue);
  border: 0.1rem solid #00000015;
  padding: 0.6rem 1.2rem;
  color: var(--black);
  border-radius: 0.25rem;
  font-size: 1.15rem;
  width: 100%;
}
.iti--separate-dial-code .iti__selected-flag,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: var(--white);
  border-radius: 0;
}
.personal-info input:focus,
.change-pass input:focus,
.address input {
  outline: none;
}
.choose-img h3,
.personal-info h3,
.address h3,
.change-pass h3,
.contact-group h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.15rem;
}
.change-pic img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--white);
  padding: 0.4rem;
  border: 0.18rem solid var(--light-blue);
  /* box-shadow: 0 0.36rem 0.36rem 0 #00000025; */
}
.upload-profile {
  display: flex;
  align-items: center;
  background-color: var(--light-blue);
  border: 0.1rem solid #00000015;
  /* box-shadow: 0 0.36rem 0.36rem 0 #00000025; */
  padding: 0.6rem 1.8rem;
  text-decoration: none;
  color: var(--black);
  border-radius: 0.6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  width: fit-content;

  transition: ease 0.9s;
  margin-top: 0.25rem;
  font-size: 1.2rem;
}
.upload-profile:hover,
.save:hover {
  color: var(--blue);
  background-color: var(--white);
  transition: ease 0.3s;
}
.upload-profile input[type="file"] {
  display: none;
}
#fileNameDisplay {
  margin-top: 0.9rem;
  font-size: 1.2rem;
}
.save {
  background-color: var(--white);
  border: 0.1rem solid #00000015;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  padding: 0.6rem 1.8rem;
  border: 0.1rem solid #00000015;
  box-shadow: 0 0.36rem 0.36rem 0 #00000025;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  transition: ease 0.9s;
}
.my-profile-title {
  display: flex;
  justify-content: end;
  padding-bottom: 3rem;
  margin-top: 1.2rem;
}
.hidden {
  display: none;
}
.group.bday input {
  text-align: center;
}
.iti--separate-dial-code .iti__selected-flag,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 900px) {
  .pass-fields {
    display: block;
  }
  .change-pass .group {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .patient-name,
  .contact,
  .address-1,
  .address-2 {
    flex-direction: column;
    margin-top: 0;
  }
  .patient-name .group,
  .contact .group,
  .full-address label {
    width: 100%;
    margin-top: 0.25rem;
  }
}
@media screen and (max-width: 650px) {
  .change-pic {
    flex-direction: column;
    align-items: start;
  }
  #userImg {
    align-self: center;
  }
  .choose-img,
  .upload-profile {
    width: 100%;
  }
  .change-pic label {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: auto;
  }
  .sidebar {
    /* display: none; */
    margin-left: -5rem;
    transition: margin-left 0.3s ease;
  }
  .content {
    width: 100%;
  }
  .sidebar.expanded {
    display: flex;
    position: absolute;
    width: 100%;
    padding-top: 2.5rem;
    margin-left: 0;
  }
  .sidebar.expanded ~ .content .header .hamburger .icon {
    position: absolute;
    z-index: 6;
    right: 1rem;
    top: 1rem;
    transition: position 0.9s ease;
    color: var(--black);
  }
  .sidebar.expanded .logout {
    align-self: center;
  }
  .options {
    display: block;
    padding: 0;
  }
}
