.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  font-size: 2.3vh;
  overflow-y: auto;
}
.form-container {
  width: 100%;
  height: 100%;
  border-radius: 1vh;
  max-width: 95%;
  display: flex;
}
form {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-header img {
  /* height: 100%; */
  height: 20vh;
  width: auto;
  margin-bottom: 1rem;
}
.form-header {
  text-align: center;
}
form select,
form input {
  font-size: 2vh;
  cursor: pointer;
  border-radius: 1vh;
  box-shadow: 0 0.6vh 0.6vh 0 #00000025;
  background-color: var(--white);
  border: none;
  padding: 0.5rem 1.5rem;
  border: #0000000e solid 1px;
  width: 100%;
  color: var(--black);
  margin-bottom: 1rem;
}
form .service-dropdown iconify-icon {
  font-size: 3.5vh;
  cursor: pointer;
}
.service-dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.form-body label {
  font-weight: 600;
}
form small {
  font-weight: normal;
}
select option:disabled {
  font-style: italic;
}
.another-service {
  display: none;
}
.calendar {
  padding: 1rem 0;
}
.fc-unthemed td.fc-today {
  background: #c8e8ff;
}
.fc-future {
  cursor: pointer;
}
.fc-past {
  opacity: 0.3;
}
.fc-day.active,
.fc-unthemed td.fc-today.active {
  background-color: var(--blue) !important;
}
.fc-day-header {
  font-size: 2vh;
}
.fc-today-button {
  display: none;
}
.form-body {
  display: flex;
  gap: 4rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;

  background-color: var(--white);
  border-radius: 1vh;
  border: 0.2vh solid #00000015;
  box-shadow: 0 0.6vh 0.6vh 0 #00000025;
  padding: 1% 5%;
}
.form-body .half {
  width: 100%;
}
.form-body .half:nth-of-type(1) {
  padding-top: 1.5rem;
}
.buttons {
  padding-right: 1rem;
  display: flex;
  justify-content: end;
}
.form-footer {
  align-self: end;
  margin-bottom: 1rem;
}
.buttons div,
.buttons a {
  background-color: var(--white);
  border: 0.2vh solid #00000015;
  box-shadow: 0 0.6vh 0.6vh 0 #00000025;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--black);
  border-radius: 1vh;
  font-size: 2.1vh;
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.buttons iconify-icon {
  font-size: 2.5vh;
}
.buttons a {
  text-decoration: none;
}
.buttons a:hover {
  color: var(--red);
}
.buttons div:hover {
  color: var(--blue);
}
.sidebar.expanded ~ .content .modal {
  width: calc(100% - 12.5rem);
}
.modal {
  display: none;

  justify-content: center;
  align-items: center;
  width: calc(100% - 12.5rem);
  position: fixed;
  width: calc(100% - 5rem);
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.modal p {
  text-align: center;
}
.modal p:nth-of-type(1) {
  color: var(--red);
  font-weight: 600;
}
.modal-content {
  background-color: #fff;
  padding: 1.5rem 2rem;
  max-height: 90%;
  width: 300px;
  overflow: auto;
  border-radius: 0.5rem;
  box-shadow: #00000025 2px 4px 4px 4px;
}
.modal #modalMessage {
  font-size: 2vh;
}
.modal .close {
  font-size: 2vh;
  text-align: center;
  width: 100%;
  color: var(--blue);
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 1vh;
  background-color: var(--white);
  cursor: pointer;
  border: 0.2vh solid #00000015;
  box-shadow: 0 0.6vh 0.6vh 0 #00000025;
}
.modal .close:hover {
  color: var(--white);
  background-color: var(--blue);
  transition: all ease 0.3s;
}
@media screen and (max-width: 1000px) {
  .form-body {
    display: block;
  }
  .form-container {
    display: block;
    width: 500px;
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 100%;
  }
}
