.tab-content {
  font-size: 2.3vh;
  color: var(--black);
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
  padding: 2vh 4vh;
  border-radius: 1vh;
  box-shadow: 0 0.6vh 0.6vh 0 #00000025;

  margin-bottom: 2vh;
}
.row {
  font-weight: 600;
  color: var(--dark-greyish-blue);
  font-size: 1.8vh;

  display: flex;
  align-items: center;
  gap: 1vh;
}
.row span {
  color: var(--black);
  font-size: 2.3vh;
  font-weight: 400;
}
.actions {
  font-size: 3vh;
  cursor: pointer;
  transition: ease 0.3s;
}

.actions:hover {
  color: var(--blue);
  transition: ease 0.3s;
}
.item .col:nth-of-type(1) {
  width: 70%;
}
.item .col:nth-of-type(2) {
  width: 25%;
}
.item .col:nth-of-type(3) {
  width: 10%;
}
